<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head><!--/head-->

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header id="header" th:replace="fragments/header :: header"></header><!--header-->

    <section class="featured spad" th:data="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Гитаршопная Витрина с <span th:text="${product.name}"></span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="color: #e9e9e9">
                    <div>Title:</div>
                    <div th:text="${product.name}"></div>
                    <br>
                    <div>Cost:</div>
                    <div>
                        <p><span th:text="${product.price}"></span> bucks</p>
                    </div>
                    <br>
                    <div>Brand:</div>
                    <div th:text="${product.brand}"></div>
                    <br>
                    <div>Category:</div>
                    <div th:text="${product.category}"></div>
                    <br>
                    <div>Description:</div>
                    <div th:text="${product.description}"></div>
                    <br>
                </div>
            </div>
            <div class="card-columns" style="column-count: 3">
                <div class="card" th:each="pict : ${product.pictures}">
                    <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${pict.id})}" width="40%"/>
                </div>
            </div>
    </section>

    <footer class="footer spad" th:replace="fragments/footer :: footer"></footer><!-- Footer Section-->

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>
</html>